html, body {
	background-color: #fff;
	color: #000;
	margin: 0;
	padding: 0;
	width: 100%;
}
nav {	
	width:20%; 
	float:right; 
	padding:1%; 
	overflow:hidden; 
}
nav ul li {
	list-style-type:none; 
	padding:0 0 0 10px;
}
footer { 
	height:50px;
	background:#000;
	color:#FFF;
	text-align:center;
	margin-top:10px;
	padding:5px;
}
header { 
	height:100px;	
	background: #808080; 
	margin: 0 0 10px 0; 
	text-align:center;
}
a {
	text-decoration: none;
}
nav ul > li:hover  {
   background-color: #C0C0C0;
}
nav ul > li:hover > a	{
	color: #002080;
}
nav ul li a.active{
   background-color: #C0C0C0;
	color: #002080;
}
#content { 
	width:75%; 
	background: #C0C0C0; 
	float:left; 
	padding:1%; 
	overflow:hidden; 
}
#wrapper { 
	width:90%;
	overflow:hidden;
	margin:0 auto;
	min-height:calc(100% - 100px); 
	padding:1%; 
}
.left {
	float:left;
}
.right {
	float:right;
}
img:hover {
	opacity:0.5;
	cursor: not-allowed;
}
img{
    max-width: 100%;
    height: auto;
    width: auto;
	 margin-left: 5px;
	 margin-right: 5px;
}
tr, th, td {
	border: 1px solid;
}
.image {
	width:100px;
}
/*RWD*/
@media only screen and (max-width: 900px) {
   nav {width:88%; position:absolute; height:30px; top:120px}
   nav ul li {display: inline; }
	table { display: none;}
	img { display: none;}
   nav ul li:after {content: " |";}
   #content {width: 98%;position:relative; top: 30px;margin-top:5%;}
}